* {
 box-sizing: border-box;
}

body{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 background-color: #85B79D;
 color: #1e4d3f;
}

.taskListSection{
 margin-top: 2rem;
 padding: 1rem;
 background-color: hsl(0, 0%, 96%, 0.2);
 width: 80%;
}
h2{
 text-align: center;
}
input{
 width: 40vw;
 background-color: #1e4d3f;
 color: #85B79D;
 padding: 0.5em 0 0.5em 1em;
 border: none;
 border-radius: 0.5em;
}

input::placeholder{
 color: #85B79D;
}

#addTaskBtn{
 background-color: #1e4d3f;
 color: #85B79D;
 cursor: pointer;
 padding: 0.5em 1em;
 border-radius: 1em;
 border: none;
}

.deleteBTN {
 color: red;
 font-weight: bold;
 padding-left: 1rem;
 cursor: pointer;
}