* {
 box-sizing: border-box;
}

body {
 margin: 0;
}

.redcolor {
 color: red
}

/* Navbar styles */

nav {
 background-color: aquamarine;
 padding: 0.5rem;
}

.brandLogo {
 font-size: 2rem;
}
p{
 margin:0;
}

/* NavBar Mobile styles */

.hidden {
 display: none;
}

.opacity{
opacity: 0;
}

.navbarMobile {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

ul {
 padding: 0;
 list-style: none;
}

.hamburgerMenu {
 display: block;
 height: 0.25rem;
 width: 3rem;
 background-color: blue;
 margin: 0.25rem 0;
}

.topAnimation{
    transform: translateX(-0.3rem) rotate(-45deg);
    transform-origin: top right;
}

/* rotate(45deg) */
.bottomAnimation{
    transform: translateY(1rem) translateX(-0.3rem) rotate(45deg);
    transform-origin: bottom right;
}