* {
 box-sizing: border-box;
}

h1 {
 text-align: center;
 color: rgb(179, 76, 97);
 font-size: 5rem;
}

form {
 font-size: 2rem;
 font-weight: 700;
 background-color: rgb(255, 248, 220);
 color: rgb(60, 11, 107);
}

button,
form {
 font-family: 'Dancing Script', cursive;
}

button {
 font-size: 3rem;
 font-weight: 700;
 color: rgb(165, 219, 201);
 background-color: rgb(35, 35, 71);
 border-radius: 1rem;
 padding: 0.5rem 2rem;
 margin: 0 0 2rem 1rem;
}

form fieldset p label {
 font-weight: 400;
}