* {
 box-sizing: border-box;
}

/* direct child selectors - use > between elements */
body>a {
 display: block;
 color: rgb(116, 201, 153);
 text-decoration: underline wavy rgb(11, 85, 11);
 margin: 1rem 0rem;
}

body {
 margin: 0;
 background-color: #6D6875;
}

section {
 padding: 1rem 0.5rem;
}

/* use of pseudo classes */
.post:nth-of-type(2n) {
 background-color: #9690a0;
}

h1 {
 color: #FFCDB2;
}

h2 {
 color: #FFB4A2;
}

a {
 color: #B5838D;
}

button {
 border: none;
 border-radius: 0.5rem;
 padding: 0.25rem 1rem;
 background-color: #FFCDB2;
 color: #6D6875;
 font-size: 1rem;
 font-weight: bold;
}

#signUpBttn {
 background-color: transparent;
 color: #FFCDB2;
 border: solid #B5838D;
}

.postLabels {
 border: solid 0.1rem #FFCDB2;
 border-radius: 0.5rem;
 background-color: #B5838D;
 padding: 0.25rem 0.5rem;
 text-transform: uppercase;
}

input {
 background-color: transparent;
 border: solid 0.1rem #B5838D;
 padding: 0.25rem;
 border-radius: 0.5rem;
 color: white;
}

span {
 font-size: 0.75rem;
}

/* select multiple - use , between elements 
::placeholder - pseudo elements*/
span,
input::placeholder {
 color: #fde1d2;
}

/* descendant selectors- when you want to select element nested in other element - use empty space between element*/
li a {
 color: rgb(245, 209, 162)
}

/* you can nest more than one element 
footer nav ul li a{
 color:red;
} */

/* you can use not only elements, but ids and classes also */
.post h2 {
 font-style: italic;
}