* {
 box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 background-color: rgb(129, 194, 238);
 /* height: 100vh; */
 justify-content: center;
 font-size: 0.8rem;
}

.pricing-table,
body {
 display: flex;
 align-items: center;
}

.pricing-table {
 background-color: #fff;
 border-radius: 1rem;
 width: 70vw;
 padding: 1rem 0;
 justify-content: space-around;
 flex-wrap: wrap;
}

.pricing-plan {
 color: rgb(129, 194, 238);
 text-transform: uppercase;
 text-align: center;
 font-weight: 700;
 padding: 1.5rem;
}

.pricing-plan img {
 width: 80%;
}

.pricing-header {
 color: rgb(137, 140, 143);
 padding-bottom: 1rem;
}

.pricing-features {
 list-style: none;
 padding: 0;
 margin: 0;
}

.pricing-features-item {
 padding: 1rem 0;
 border-top: 0.1rem solid rgb(232, 237, 240);
}

.pricing-features-item:nth-of-type(2) {
 border-bottom: 0.1rem solid rgb(232, 237, 240);
}

.pricing-price {
 display: block;
 font-size: 2rem;
 font-weight: 700;
 padding: 1rem 0;
 color: rgb(100, 151, 185);
}

.pricing-button {
 display: inline-block;
 text-decoration: none;
 color: rgb(129, 194, 238);
 padding: 0.5rem 1rem;
 border: 0.1rem solid rgb(129, 194, 238);
 border-radius: 1em;
}

.is-featured {
 background-color: rgb(129, 194, 238);
 color: #fff;
}

@media screen and (min-width: 1024px) {
 body {
  height: 100vh;
 }

 .pricing-plan:nth-of-type(2) {
  border-left: 0.1rem solid rgb(232, 237, 240);
  border-right: 0.1rem solid rgb(232, 237, 240);
 }

 .pricing-table {
  flex-wrap: nowrap;
 }
}